<div class="dashboard-container">
    <h2>Bienvenue dans Dashboard</h2>
    <p>L'utilisateur connecté est {{role}}</p>

    <div *ngIf="role === 'admin' " class="menu-section">
        <h3>Menu admin</h3>
        <ul>
            <li>
                <a routerLink="/patients">Gestion patients</a>
            </li>
            <li>
                <a routerLink="/medecins">Gestion médecins</a>
            </li>
            <li>
                <a routerLink="/rendez-vous">Gestion rendez-vous</a>
            </li>
        </ul>
    </div>

    <div *ngIf="role === 'medecin' " class="menu-section">
        <h3>Menu médecin</h3>
        <ul>
            <li>
                <a routerLink="/rendez-vous-medecins">Mes rendez-vous</a>
            </li>
        </ul>
    </div>

    <div *ngIf="role === 'patient' " class="menu-section">
        <h3>Menu patient</h3>
        <ul>
            <li>
                <a routerLink="/rendez-vous-patients">Mes rendez-vous</a>
            </li>
        </ul>
    </div>

    <button (click)="logout()">Se déconnecter</button>

</div>
